@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div>
        <button>Вход</button>
        <button>Регистрация</button>
    </div>
</header>

<div class="text-center">
    <h1 class="display-4">Тут какое-то название</h1>
    <p>
        тут какой-то текст
    </p>
</div>
