
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div>
        <a href="@Url.Action("GoToAuto","Home")">Вход</a>
        <a href="@Url.Action("GoToReg","Home")">Регистрация</a>
    </div>
</header>

<div class="text-center">
    <h1 class="display-4">Тут какое-то название</h1>
    <p>
        тут какой-то текст
    </p>
</div>
