@model List<ChildrensData>
@{
    ViewData["Title"] = "Страница родителей";
}

<h2>
    Оценки 
</h2>

@foreach (var item in Model)
{
    <div>
        @item.name
        @foreach (var grade in item.grades)
        {
            <div>
                Оценка: @grade.grade, Домашняя работа: @grade.homework_grade
            </div>
        }
    </div>
}

