@model List<Gradebooks>
@{
    ViewData["Title"] = "Страница родителей";
}

<h2>
    Оценки 
</h2>
<ul>
    @foreach(var grade in Model)
    {
        <li>
            @grade.grade и @grade.homework_grade
        </li>
    }
</ul>