@model List<Subjects>
@{
    ViewData["Title"] = "Страница преподавателя";
}

<h1>
    Teacher
</h1>

<button id="addCourse">Добавить курс</button>

@foreach(var subject in Model)
{
    <li>
        @subject.name
    </li>
}

