@model Users
@{
    ViewData["Title"] = "Регистрация";
}

<form asp-action="Register" asp-controller="User" method="post">
    <label asp-for="login"></label>
    <input asp-for="login" />
    <span asp-validation-for="login"></span>

    <label asp-for="password"></label>
    <input asp-for="password" />
    <span asp-validation-for="password"></span>

    <label asp-for="name"></label>
    <input asp-for="name" />
    <span asp-validation-for="name"></span>

    <label asp-for="surname"></label>
    <input asp-for="surname" />
    <span asp-validation-for="surname"></span>

    <label asp-for="role_id"></label>
    <select asp-for="role_id">
        <option value="2">Преподаватель</option>
        <option value="3">Ученик</option>
        <option value="4">Родитель</option>
    </select>
    <span asp-validation-for="role_id"></span>


    <input type="submit" value="Зарегистрироваться" />
</form>